header {
  @include flexCenterSB;
  min-width: 100%;
  padding: 2rem 0rem;
  img {
    max-width: 100px;
  }
}

nav {
  display: none;
  @include respond-to(medium) {
    display: flex;
  }
  a {
    padding: 1rem;
  }
  a:last-of-type {
    @include respond-to(medium) {
      padding: 1rem 0rem 1rem 1rem;
    }
  }
}

.activeMenu {
  flex-flow: column;
  position: fixed;
  right: 0;
  top: 0;
  padding-top: 5rem;
  width: 100vw;
  @include flexCenterCenter;
  background: map-get($colors, blue);
  color: white;
  a {
    color: white;
    width: 100%;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    @include respond-to(medium) {
      padding: 1rem 2rem;
      width: auto;
      text-align: left;
    }
  }
  a:hover {
    background-color: rgba(0,0,0,0.2);
    transition: background-color 0.7s ease;
  }
}

.menu-icon {
  position: fixed;
  display: flex;
  flex-flow: column;
  right: 0;
  z-index: 5;
  padding: 1rem;
  border-radius: 10% 0 0;
  transform: rotate(0deg);
  transition: .5s ease-in-out;

  span {
    width: 30px;
    height: 6px;
    border-radius: 10%;
    cursor: pointer;
    background: map-get($colors, blue);
    margin: 2px;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
  }

  span:nth-child(2) {
    top: 13px;
    transform-origin: left center;
  }

  span:nth-child(3) {
    top: 25px;
    transform-origin: left center;
  }

  @include respond-to(medium) {
    display: none;
  }
}

#menu-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#menu-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#menu-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 50px;
  left: 12px;
}

#menu-icon.open span {
  background: map-get($colors, white);
}
