$colors: (
  white: #fff,
  blue: #1b4ac0,
  lightGrey: #7a7a7a,
  blackGrey: #232431,
  gradientA: #10289d,
  gradientB: #2b7af1
);

@function colors($key: 'white') {
  @return map-get($colors, $key);
}
