* {
  color: black;
  font-family: 'Montserrat', serif, arial;
}

a {
  text-decoration: none;
	color: black;
}

li {
  list-style: none;
}

p {
  font-size: 0.8rem;
}

h1 {
  font-size: 2rem;
  margin-top: 0;
  width: auto;
  padding: 0;
  margin: 0;
}

h2 {
  letter-spacing: 1px;
  text-transform: uppercase;
}


h3 {
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h5 {
  margin: 0;
}
