// SIZE VARIABLES
$fullHeightVp: 100vh;
$fullWidthVp: 100vw;
$fullSizePercent: 100%;
$wrapper: 940px;

// SPACE VARIALBES
$xs-space: 0.3rem;
$sm-space: 0.5rem;
$m-space: 1rem;
$l-space: 2rem;
$xl-space: 4rem;
